<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.huhuiyu.myspringboot.mapper.TbTestMapper">
  <select id="queryAll" resultType="TbTest">
    select * from TbTest
  </select>
  <select id="queryAll_COUNT" resultType="int">
    select count(*) from TbTest
  </select>
</mapper>
