<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.huhuiyu.myspringboot.mapper.TbTestMapper">
  <select id="queryAll" resultType="TbTest">
    select * from TbTest
  </select>
  <select id="queryAll_COUNT" resultType="int">
    select count(*) from TbTest
  </select>

  <select id="queryMapping" resultType="TbEmployee">
    select e.empId,e.empName,d.deptId 'dept.deptId',d.deptName 'dept.deptName'
    from TbEmployee e
    inner join TbDept d on e.deptId=d.deptId
  </select>
</mapper>
